@import "../../variables";

.header {
  padding: 1.7rem 3rem 1.7rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .container {
    display: flex;
    align-items: center;

    > a {
      display: flex;
      align-items: center;
    }
  }

  .subs {
    
  
  }





  /* .notification {
    position: absolute;
    margin-right: 5rem;
    cursor: pointer;

    > i {
      color: $white;
      font-size: 1.9rem;
    }

    > span {
      background-color: $mainRed;
      width: .7rem;
      height: .7rem;
      top: 0;
      right: 0;
      position: absolute;
      border-radius: 50%;
      border: 1px solid $darkGray;
    }
  }

  .profile_wrapper {
    display: flex;
    align-items: center;
  }

  .profile {
    display: flex;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.2rem;
      margin-left: 4rem;
      overflow: hidden;

      > img {
        height: 2.2rem;
        width: 2.2rem;
        cursor: pointer;
      }
    }

    > i {
      color: $white;
      font-size: .8rem;
      cursor: pointer;
    }
  } */
}
