@import "../../../variables";

.page {
  color: $white;
  font-size: 2rem;
  text-align: center;
  padding-top: 6rem;

  a {
    text-decoration: none;
    color: $darkRed;

    &:hover {
      color: $mainRed;
    }
  }
}
